#logo{
    height: 150px;
    width: 200px;
}
.cities{
    height: 150px;
    width: 150px;
    border-radius: 25%;
}
.logos{
    height: 20px;
    width: 22px;
}
#logo{
    height: 60px;
    width: 60px;
}
#container{
    height: 100%;
    width: 100%;
}
body{
    background-color: #e0e0e0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
header,footer{
    background-color: rosybrown;
    width: 100%;
    
}
html{
    margin: 0%;
}
#bg{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 380px;
    width: 100%;
    text-align: center;
}
#login{
    text-decoration: none;
    color: black;  
}
#logo{
   vertical-align: middle;
}
#contactus {
    text-decoration: none;
    color: black;
}
#vmore{
    text-decoration: none;
    color: black;
}
header{
  position: sticky; top: 0;
}
footer{
    position: sticky; bottom: 0;
}
.footerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
}
.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 2%;
 
}
#f2{
    font-size: 10px;
}
#city{
    border: 1px transparent solid;
    background-color:  #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 10%;
    width: 400px;
}
#vmorediv{
    text-align: center;
}
input:focus{
    outline: none;
}
.citycardsdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
}
#c1{
    box-shadow: 10px 10px 10px grey;
    border: 0px;
}
#c2{
    box-shadow: 10px 10px 10px grey;
    content: Delhi;
}
#c3{
    box-shadow: 10px 10px 10px grey;
    content: Delhi;
}
#c4{
    box-shadow: 10px 10px 10px grey;
}
.imagecontent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 25%;
}
.imagetext{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  border-radius: 25%;
  text-align: center;
  opacity: 0;
  
}
.imagecontent:hover .imagetext{
    opacity: 1;
}
a{
    text-decoration: none;
}
.cityspan{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#exampleModal{
    z-index: 20000;
}
#modalfooter{
    display: flex;
    justify-content: center;    
}
#modalbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
