#logo {
    height: 60px;
    width: 60px;
}

.logos {
    height: 20px;
    width: 22px;
}

#container {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e0e0e0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header,
footer {
    background-color: rosybrown;
}

.hotelBlock {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    margin: 2%;
    width: 100%;
    height: auto;
}

.hotelBlock:hover {
    background-color: rosybrown;
}

header {
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
}

#f2 {
    font-size: 10px;
}

#contactus {
    text-decoration: none;
    color: black;
}

.headerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 2%;
}

#login {
    text-decoration: none;
    color: black;
}

#listview {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 1%;
}

#mapview {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 1%;
}

#listmapviews {
    text-align: center;
}

#radissonanchor {
    text-decoration: none;
    color: black;
}

#exampleModal {
    z-index: 20000;
}

#modalfooter {
    display: flex;
    justify-content: center;
}

#modalbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotelspan {
    margin: 3%;
}

ul {
    display: flex;
    justify-content: center;
}

#pills-home-tab {
    color: black;
}

#pills-profile-tab {
    color: black;
}


#ab {
    width: 45%;
    margin: 2%;
}
.checked{
    color: orange;
}
.checked1.half:after
{
margin-left:-24px;
width:12px;
color: orange;
}
.checked1{
width : 24px;
 }
 .check{
    color: orange;
 }

.delhiHotels {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.hotels {
    height: 200px;
    width: 250px;
}
@media only screen and (max-width: 576px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}