div{
    width: 70px;
    height: 70px; 
    
    border: 12px #f3f3f3 solid;
    border-radius: 50%;
    margin: 0 auto;
    border-top-color: #444444;
    margin-top: 20%;
    margin-bottom: 20%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body{
    font-family: 'Ubuntu', sans-serif;
}
    