#logo{
    height: 60px;
    width: 60px;
}
.logos{
    height: 20px;
    width: 22px;
}
#container{
    width: 100%;
    height: 100%;
}
#radblu{
    height: 270px;
    width: 300px;
}
body{
    background-color: #e0e0e0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
header,footer{
    background-color: rosybrown;
}
#radbluInfo{
    height: 20%;
    width: 50%;
    background-color: rgb(132,136,139);
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
#details{
    margin: 2%;
}
b{
    font-family: cursive;
}
header{
    position: sticky; top: 0;
}
footer{
      position: sticky; bottom: 0;
}
.footerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
}
#f2{
    font-size: 10px;
}
#contactus {
    text-decoration: none;
    color: black;
}
.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-right: 2%;
}
#login{
    text-decoration: none;
    color: black;  
}
#paynow{
    text-decoration: none;
    color: black;
}
.contentdiv{
    display: flex;
    flex-direction: column;
}
.radbluinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#raddetailsspan{
    margin-left: 3%;
}
.detailclass{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rosybrown;
}
#exampleModal{
    z-index: 20000;
}
#modalfooter{
    display: flex;
    justify-content: center;    
}
#modalbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 576px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}